[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
pydantic = "*"
typing-extensions = "*"
fastapi = "*"
uvicorn = "*"
graphene = "*"

[requires]
python_version = "3.7"
